.load-more.is-hidden {
    display: none;
}

.search-form {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #540e2f;
}

input {
    border: none;
    border-radius: 10px;
    padding: 10px;
}

input,
button {
    background-color: #f9f9fe;
    border: none;
    border-radius: 5px;
    margin-left: -10px;
    cursor: pointer;
}

.load-more {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #540e2f;
    color: #fff;
    border: none;
    border-radius: 10px;
    margin-top: 25px;
    padding: 10px;
}

.gallery {
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin-right: 35px;
    display: flex;
    flex-basis: calc(100% / 4 - 20px);
    flex-direction: column;

}

img {
    display: block;
    width: 320px;
    height: 200px;
}

.info {
    width: 320px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}